/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

*{
  margin: 0;
  padding: 0;
}

@include mat-core();

$mat-green-custom: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #4B9372,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$primary: mat-palette($mat-green-custom, 600);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme:   mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.error-message{
  color: rgb(244, 67, 54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition-duration: 200ms;
}

.success-message{
  color: #4B9372;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition-duration: 200ms;
}

.account-component {
  max-width: 400px; 
  margin: 0px auto; 
  padding: 30px;
  text-align: center;
  mat-form-field{
    width: 90%;
  }
}

.question-component {  
  margin: 0px auto;
  text-align: center;
}

.mat-pseudo-checkbox{
  color: #4B9372;
}

.mat-pseudo-checkbox-checked {
  background-color: #4B9372;
}

.action-button {
  width: 100%;
  text-align: right;
  button {
    margin-left: 20px;
  }
}

.horizontal-space{
  width: 20px;
}

.title-confirm{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}

.error-modal{
  text-align: center;
  span{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin: 40px; 
  } 
  button{
    margin-top: 20px;
  } 
}

body {
  background-image: url("app/images/question-mark.jpg");
  background-repeat: repeat-y;
}

.sidenav {
  background-color: #4B9372;
  width: 40px;
  height: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 10px 0;
  margin-right: 10px;
  
  button{
    color: white;
    width: 100%;
    background-color: #0000 !important; 
    border: none !important;
    box-shadow: 0 0 0 0 !important;
  }
  
  mat-nav-list{
    text-align: center;
  }

  .menu-sidenav{
    color: white;
    font-weight: bold;  
    margin-left: 20px;
    margin-top: 20px;
  }
}