{
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-unused-vars": "error",
    "no-undef": "error",
    "no-unused-expressions": "error",
    "no-empty-function": "error",
    "no-console": "error",
    "no-var": "error",
    "no-restricted-modules": "error",
    "no-duplicate-imports": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-inline-comments": "error",
    "func-style": [
      "error",
      "expression",
      {
        "allowArrowFunctions": false
      }
    ]
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "test": true,
    "__dirname": true,
    "process": true,
    "setTimeout": true,
    "Promise": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "spread": true
    }
  }
}