html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin: 0 0 60px; */
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'FrederickaGreat';
  src: url('./fredericka-great.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

i.arrow {
  border: solid #666;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  margin: 3px;
}

i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.room-cell {
  text-align: center;
}