.qr-title{
  font-family: fredericka-great;
  font-size: 187px;
  color: #7B996A;
  text-shadow: 2px 2px white; 
}

.qr-description{
  color: #7B996A;
  text-shadow: 2px 2px white; 
  font-size: 35px;
}