<div>
  <app-toolbar></app-toolbar>
  <div fxLayout="row">
    <div fxFlex="200px" class="sidenav" [hidden]="!logged">

      <mat-divider></mat-divider>
      <div class="menu-sidenav">
        <span>SALAS</span>
      </div>
      <mat-nav-list>
        <mat-list-item>
          <button [disabled]="path === '/my-rooms'" mat-raised-button color="primary" routerLink="/my-rooms">CRIADAS</button>
        </mat-list-item>
        <mat-list-item>
          <button [disabled]="path === '/associated-rooms'" mat-raised-button color="primary" routerLink="/associated-rooms">PARTICIPAÇÕES</button>
        </mat-list-item>
        <mat-list-item>
          <button [disabled]="path === '/opened-rooms'" mat-raised-button color="primary" routerLink="/opened-rooms">ABERTAS</button>
        </mat-list-item>
      </mat-nav-list>

      <mat-divider></mat-divider>
      
      <div class="menu-sidenav">
        <span>QUESTÕES</span>
      </div>
      <mat-nav-list>
        <mat-list-item>
          <button [disabled]="path === '/my-questions'" mat-raised-button color="primary" routerLink="/my-questions">CRIADAS</button>
        </mat-list-item>
        <mat-list-item>
          <button [disabled]="path === '/all-questions'" mat-raised-button color="primary" routerLink="/all-questions">PÚBLICAS</button>
        </mat-list-item>
      </mat-nav-list>

    </div>
    <div fxFlex="100%" style="padding-right: 10px">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>