{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "describe": "readonly",
    "test": "readonly",
    "expect": "readonly",
    "beforeAll": "readonly",
    "window": "readonly",
    "localStorage": "readonly",
    "jest": "readonly",
    "document": "readonly",
    "location": "readonly",
    "navigator": "readonly",
    "FileReader": "readonly",
    "FormData": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": 2,
    "no-useless-escape": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "react/prop-types": [
      2,
      {
        "ignore": [
          "language",
          "showError",
          "showSuccess"
        ]
      }
    ],
    "semi": [
      2,
      "never"
    ],
    "sort-vars": "off",
    "quotes": [
      "error",
      "single"
    ],
    "no-func-assign": "error"
  }
}