<mat-card style="width: 80%; margin: 0 auto; margin-top: 50px">
  <mat-card-title>MINHAS QUESTÕES</mat-card-title>
  <div class="question-component" [hidden]="hasQuestions">
    <span>Você ainda não criou questões.</span>
  </div>
  <div class="question-component">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [hidden]="!hasQuestions">

      <ng-container matColumnDef="id">
        <th style="width: 100px" mat-header-cell *matHeaderCellDef> Número </th>
        <td style="width: 100px" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Área </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Pontos </th>
        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
      </ng-container>

      <ng-container matColumnDef="shared">
        <th mat-header-cell *matHeaderCellDef> Compartilhada? </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (change)="sharedChanged(element)" color="primary" [(ngModel)]="element.shared">
            {{element.shared ? 'Sim' : 'Não'}}
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 180px">Ações</th>
        <td mat-cell *matCellDef="let element" style="width: 180px">
          <button mat-button color="primary" (click)="openQuestionModal(element)">Editar</button>
          <button mat-button color="warn" (click)="remove(element.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <button (click)="openQuestionModal(null)" style="margin-top: 20px" mat-raised-button color="primary">Nova Questão</button>
  </div>
</mat-card>