<div style="color: #666; text-align: center">
  <h3>{{room.name}}</h3>
  <h6 [hidden]="roomScores">A sala não teve pontuações.</h6>
  <div *ngIf="roomScores" fxLayout="row">
    <div fxFlex="400px">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">

        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef> Avatar </th>
          <td mat-cell *matCellDef="let element">
            <img style="margin: 10px;border-radius: 50%" height="50" width="50" src="{{element?.picture || 'api/image/user-image.png'}}"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> Usuário </th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Pontuação </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="showDetails(element)" mat-mini-fab color="primary">{{element.score}}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div *ngIf="user" style="margin-left: 20px;text-align: center">
      <div>
        <img style="margin: 10px;border-radius: 50%" height="50" width="50" src="{{user?.picture || 'api/image/user-image.png'}}"
        />
        <span>{{user.name}}</span>
      </div>
      <mat-list style="overflow-y: auto">
        <mat-list-item *ngFor="let q of user.questions" style="margin-top: 20px">
          <button style="margin-right: 10px" mat-mini-fab disabled>{{q.order}}</button>
          <div fxLayout="row">
              <div fxFlex="400px">
              <span style="font-size: 14px">{{q.description}}</span>
            </div>
            <div>
              <span style="font-size: 14px;margin-bottom: 10px" class="success-message"> {{q.score}}/{{q.points}} </span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="action-button" style="margin-top: 5px">
    <button mat-raised-button (click)="onNoClick()">FECHAR</button>
  </div>
</div>