<mat-card style="padding: 0;background-color:red">
  <mat-toolbar style="background-color: #4b9372;color:white">
    <mat-toolbar-row>
      <span class="qr-logo">QR</span>
      <span class="app-spacer"></span>
      <button [disabled]="path === '/'" routerLink="/" mat-button>Página inicial</button>
      <div [hidden]="!logged">
        <button [disabled]="path === '/my-questions'" mat-button routerLink="/my-questions">Minhas Quetões</button>
        <button [disabled]="path === '/all-questions'" mat-button routerLink="/all-questions">Todas Questões</button>
      </div>
      <button [disabled]="path === '/about'" routerLink="/about" mat-button>Sobre</button>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <div [hidden]="logged">
        <button [disabled]="path === '/signin'" mat-button routerLink="/signin">Entrar</button>
        <button [disabled]="path === '/signup'" mat-button routerLink="/signup">Cadastre-se</button>
      </div>
      <div [hidden]="!logged">
        <button mat-button (click)="logout()">Sair</button>
      </div>
      <!-- <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <ngx-loading-bar diameter="40px" fixed="false" color="green" height="5px"></ngx-loading-bar>
</mat-card>