<mat-card style="padding: 0;background-color:red">
  <mat-toolbar style="background-color: #4b9372;color:white">
    <mat-toolbar-row>
      <span class="qr-logo">QR</span>
      <span class="app-spacer"></span>
      <button routerLink="/" mat-button>Página inicial</button>
      <button mat-button>Minhas Quetões</button>
      <button mat-button>Todas Questões</button>
      <button routerLink="/about" mat-button>Sobre</button>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <button mat-button routerLink="/signin">Entrar</button>
      <button mat-button routerLink="/signup">Cadastre-se</button>
      <!-- <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>