<mat-card style="padding: 0;background-color:red">
  <mat-toolbar style="background-color: #4b9372;color:white">
    <mat-toolbar-row>
      <span class="qr-logo">QR</span>
      <span class="app-spacer"></span>
      <button [disabled]="path === '/'" routerLink="/" mat-button>Página inicial</button>
      <button [disabled]="path === '/about'" routerLink="/about" mat-button>Sobre</button>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <span class="app-spacer"></span>
      <div [hidden]="logged">
        <button [disabled]="path === '/signin'" mat-button routerLink="/signin">Entrar</button>
        <button [disabled]="path === '/signup'" mat-button routerLink="/signup">Cadastre-se</button>
      </div>
      <div [hidden]="!logged">
        <button mat-icon-button>
          <mat-icon (click)="clearNotifications()" [matBadge]="notifications" [matBadgeHidden]="notifications == 0" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
          <div class="account-data" style="padding: 10px">
            <div fxLayout="row">
              <div fxFlex="60px">
                <img style="border-radius: 50%" height="50" width="50" src="{{user.picture}}" />
              </div>
              <div>
                <span class="account-name">{{user.name}}</span>
                <br />
                <br />
                <span class="account-email">{{user.email}}</span>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="action-button">
              <button [disabled]="path === '/sign-edit'" routerLink="/sign-edit" mat-raised-button>CONTA</button>
              <button mat-raised-button (click)="logout()" color="primary">SAIR</button>
            </div>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <ngx-loading-bar diameter="40px" fixed="false" color="green" height="5px"></ngx-loading-bar>
</mat-card>