<mat-card class="root-card">
  <mat-card-title>SALAS QUE PARTICIPEI</mat-card-title>
  <div class="question-component" [hidden]="hasRooms">
    <span>Você não participou de nenhuma sala.</span>
  </div>
  <div class="question-component">
    <table mat-table [dataSource]="dataSource" style="width: 100%; text-align: center !important" class="mat-elevation-z8" [hidden]="!hasRooms">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.descriptionStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Tempo </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Pontuação </th>
        <td mat-cell *matCellDef="let element"> {{element.score || '???'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 180px">Ações</th>
        <td mat-cell *matCellDef="let element" style="width: 180px">
          <button mat-button color="primary" (click)="associate(element)">PONTUAÇÕES</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>