<div style="min-width: 500px">
  <mat-horizontal-stepper #stepper>

    <mat-step>
      <ng-template matStepLabel>Área</ng-template>
      <mat-form-field id="selectArea" style="width: 300px">
        <mat-select [disabled]="areas.length < 2" [(ngModel)]="selectedArea" (selectionChange)="areaChanged()"
          placeholder="Selecione a área">
          <mat-option *ngFor="let c of areas" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field id="customArea" style="width: 300px">
        <input matInput maxlength="30" [disabled]="!customArea" [(ngModel)]="question.area"
          placeholder="Qual a área da questão ?" required />
      </mat-form-field>
      <div class="action-button">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button (click)="stepChange(0)" id="btnNextStep" [disabled]="customArea && !question.area" mat-raised-button
          matStepperNext color="primary">Próximo</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Dificuldade</ng-template>
      <mat-form-field id="selectCategory">
        <mat-select [(ngModel)]="question.difficulty" placeholder="Selecione a dificuldade">
          <mat-option *ngFor="let c of [1,2,3,4,5]" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="action-button">
        <button mat-button matStepperPrevious>Voltar</button>
        <button (click)="stepChange(1)" mat-raised-button matStepperNext color="primary">Próximo</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Pergunta</ng-template>
      <mat-form-field id="questionDescription" style="width: 500px">
        <textarea maxlength="200" id="inputQuestionDescription" style="overflow: hidden" cols="100" spellcheck="false"
          rows="3" matInput [(ngModel)]="question.description" placeholder="Qual a pergunta da questão ?"
          required></textarea>
      </mat-form-field>
      <div class="action-button">
        <button mat-button matStepperPrevious>Voltar</button>
        <button (click)="stepChange(2)" [disabled]="!question.description" mat-raised-button matStepperNext
          color="primary">Próximo</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Alternativas</ng-template>
      <mat-list>
        <div style="text-align: center; max-width: 500px">
          <span style="color:#666;font-size: 16px">{{question.description}}</span>
        </div>
        <div fxLayout="row" style="margin-left: 30px;margin-top: 20px">
          <div>
            <div style="height:13px">
              <i class="up" (click)="changeAnswer(1)"></i>
            </div>
            <div style="height:13px">
              <i class="down" (click)="changeAnswer(-1)"></i>
            </div>
          </div>
          <span style="margin:5px; color: #666">{{question.answers.length}} Alternativas</span>
        </div>
        <div style="width:100%;text-align: right; color:#666;font-size: 12px">Correta?</div>
        <mat-list-item *ngFor="let a of question.answers">
          <button mat-mini-fab disabled>{{a.classification}}</button>
          <span class="horizontal-space"></span>
          <mat-form-field style="width: 100%">
            <input matInput class="introDescriptionAnswer" [(ngModel)]="a.description"
              placeholder="Descrição da alternativa {{a.classification}}" required />
          </mat-form-field>
          <span class="horizontal-space"></span>
          <mat-slide-toggle class="introCorrectAnswer" (click)="correctClick(a)"
            [matTooltip]="a.correct ? 'Correta' : 'Errada'" color="primary" [(ngModel)]="a.correct"></mat-slide-toggle>
        </mat-list-item>
      </mat-list>

      <div class="action-button">
        <button mat-button matStepperPrevious>VOLTAR</button>
        <button [disabled]="!validQuestion()" mat-raised-button color="primary" (click)="saveQuestion()">PRONTO</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>